.card-collection {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.card-home {
    width: 25% !important;
}

.card-about {
    width: 35% !important;
}

.video {
    width: 60%
}